<?xml version="1.0" encoding="UTF-8"?>
<xml>
    <spark>
        <appName>spark</appName>
        <master>local</master>
    </spark>>
     <table>
        <tableUp>kunyan_tab_up</tableUp>
        <tableSk>kunyan_tab_sk</tableSk>
		<expireDay>1</expireDay>
    </table>
	<url>
		<location> </location>
	</url>
    <kafka>
        <brokerList>:9092</brokerList>>
        <groupId>kunyan_spark_group</groupId>
        <sendTopic>kafka2kv_topic</sendTopic>
        <consumerTopic>yangdecheng</consumerTopic>
        <zkQuorum>:2181</zkQuorum>
        <numThreads>1</numThreads>>
    </kafka>

    <mysql>
        <url>jdbc:mysql://xxxxx:3306/db?autoReconnect=true</url>
        <user></user>
        <password></password>
        <driver>com.mysql.jdbc.Driver</driver>
        <partition>4</partition>
        <timeout>2000</timeout>
        <minConn>4</minConn>
        <maxConn>8</maxConn>>
    </mysql>
</xml>
